<input type="text" id="id" placeholder="아이디 입력"><br>
<input type="text" id="psword" placeholder="비밀번호 입력"><br>
<input type="text" id="confirm-psword" placeholder="비밀번호 확인"><br>
<input type="text" id="name" placeholder="이름 입력"><br>
<button>회원가입</button>
<a href="/login">로그인</a>